@import "tailwindcss";

:root {
	--background: #2d2d2d;
	--foreground: #ffffff;
	--highlight: #FFA500;
}

[data-theme="dark"] {
	--background: #d1d5db;
	--foreground: #2d2d2d;
	--highlight: #38bdf8;
}

body {
	background: var(--background);
	color: var(--foreground);
	transition: background-color 0.5s, color 0.5s;
}
